<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Hanami::View::Configuration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/github.css" type="text/css" media="screen" />
<script src="../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            <span class="type">Class</span> 
            Hanami::View::Configuration 
            
                <span class="parent">&lt; 
                    
                    <a href="../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/sources/view/lib/hanami/view/configuration_rb.html">sources/view/lib/hanami/view/configuration.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  
    <div class="description">
      
<p><a href="Configuration.html">Configuration</a> <a
href="Configuration.html#method-c-for">::for</a> the framework, controllers
and actions.</p>

<p><a href="../Controller.html">Hanami::Controller</a> has its own global
configuration that can be manipulated via `Hanami::View.configure`.</p>

<p>Every time that `Hanami::View` and `Hanami::Layout` are included, that
global configuration is being copied to the recipient. The copy will
inherit all the settings from the original, but all the subsequent changes
aren&#39;t reflected from the parent to the children, and viceversa.</p>

<p>This architecture allows to have a global configuration that capture the
most common cases <a href="Configuration.html#method-c-for">::for</a> an
application, and let <a
href="Configuration.html#attribute-i-views">#views</a> and <a
href="Configuration.html#attribute-i-layouts">#layouts</a> <a
href="Configuration.html#attribute-i-layouts">#layouts</a> to specify
exceptions.</p>

<p>@since 0.2.0</p>

    </div>
  


  


  
  


  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>A</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-add_layout">add_layout</a>,
              </li>
            
              
              <li>
                <a href="#method-i-add_partial">add_partial</a>,
              </li>
            
              
              <li>
                <a href="#method-i-add_view">add_view</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>C</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-copy-21">copy!</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>D</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-default_encoding">default_encoding</a>,
              </li>
            
              
              <li>
                <a href="#method-i-duplicate">duplicate</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>F</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-find_partial">find_partial</a>,
              </li>
            
              
              <li>
                <a href="#method-c-for">for</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>L</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-layout">layout</a>,
              </li>
            
              
              <li>
                <a href="#method-i-load-21">load!</a>,
              </li>
            
              
              <li>
                <a href="#method-i-load_partials-21">load_partials!</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>N</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-namespace">namespace</a>,
              </li>
            
              
              <li>
                <a href="#method-c-new">new</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>P</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-prepare">prepare</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>R</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-reset-21">reset!</a>,
              </li>
            
              
              <li>
                <a href="#method-i-root">root</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>U</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-unload-21">unload!</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    
      <!-- Section constants -->
      <div class="sectiontitle">Constants</div>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class="attr-name">DEFAULT_ROOT</td>
            <td>=</td>
            <td class="attr-value">&#39;.&#39;.freeze</td>
          </tr>
          
            <tr valign='top'>
              <td>&nbsp;</td>
              <td colspan="2" class="attr-desc"><p>Default <a href="Configuration.html#method-i-root">#root</a></p>

<p>@since 0.2.0 @api private</p></td>
            </tr>
          
        
          <tr valign='top'>
            <td class="attr-name">DEFAULT_ENCODING</td>
            <td>=</td>
            <td class="attr-value">Encoding::UTF_8</td>
          </tr>
          
            <tr valign='top'>
              <td>&nbsp;</td>
              <td colspan="2" class="attr-desc"><p>Default encoding</p>

<p>@since 0.5.0 @api private</p></td>
            </tr>
          
        
      </table>
    


    
      <!-- Section attributes -->
      <div class="sectiontitle">Attributes</div>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [W]
            </td>
            <td class='attr-name'>default_encoding</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [W]
            </td>
            <td class='attr-name'>layout</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [R]
            </td>
            <td class='attr-name'>layouts</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [RW]
            </td>
            <td class='attr-name'>load_paths</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [RW]
            </td>
            <td class='attr-name'>modules</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [W]
            </td>
            <td class='attr-name'>namespace</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [R]
            </td>
            <td class='attr-name'>partials</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [W]
            </td>
            <td class='attr-name'>root</td>
            <td class='attr-desc'></td>
          </tr>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [R]
            </td>
            <td class='attr-name'>views</td>
            <td class='attr-desc'></td>
          </tr>
        
      </table>
    


    <!-- Methods -->
    
      <div class="sectiontitle">Class Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-c-for">
            
              <b>for</b>(base)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-c-for" name="method-c-for" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Return the original configuration of the framework instance associated with
the given class.</p>

<p>When multiple instances of <a href="../View.html">Hanami::View</a> are used
in the same application, we want to make sure that a controller or an
action will  receive the expected configuration.</p>

<p>@param base [Class] a view or a <a
href="Configuration.html#method-i-layout">#layout</a></p>

<p>@return [Hanami::Controller::Configuration] the configuration associated</p>

<pre><code>to the given class.</code></pre>

<p>@since 0.2.0 @api private</p>

<p>@example Direct usage of the framework</p>

<pre><code>require &#39;hanami/view&#39;

class Show
  include Hanami::View
end

Hanami::View::Configuration.for(Show)
  # =&gt; will return from Hanami::View
</code></pre>

<p>@example Multiple instances of the framework</p>

<pre><code>require &#39;hanami/view&#39;

module MyApp
  View = Hanami::View.duplicate(self)

  module Views::Dashboard
    class Index
      include MyApp::View
    end
  end
end

class Show
  include Hanami::Action
end

Hanami::View::Configuration.for(Show)
  # =&gt; will return from Hanami::View

Hanami::View::Configuration.for(MyApp::Views::Dashboard::Index)
  # =&gt; will return from MyApp::View
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-c-for_source')" id="l_method-c-for_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L92" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-for_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 92</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">self</span>.<span class="ruby-keyword">for</span>(<span class="ruby-identifier">base</span>)
  <span class="ruby-comment"># TODO this implementation is similar to Hanami::Controller::Configuration consider to extract it into Hanami::Utils</span>
  <span class="ruby-identifier">namespace</span> = <span class="ruby-constant">Utils</span><span class="ruby-operator">::</span><span class="ruby-constant">String</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">base</span>).<span class="ruby-identifier">namespace</span>
  <span class="ruby-identifier">framework</span> = <span class="ruby-constant">Utils</span><span class="ruby-operator">::</span><span class="ruby-constant">Class</span>.<span class="ruby-identifier">load_from_pattern!</span>(<span class="ruby-node">&quot;(#{namespace}|Hanami)::View&quot;</span>)
  <span class="ruby-identifier">framework</span>.<span class="ruby-identifier">configuration</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-c-new">
            
              <b>new</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-c-new" name="method-c-new" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Initialize a configuration instance</p>

<p>@return [Hanami::View::Configuration] a <a
href="Configuration.html#method-c-new">::new</a> configuration&#39;s
instance</p>

<p>@since 0.2.0</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-c-new_source')" id="l_method-c-new_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L104" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-new_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 104</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">initialize</span>
  <span class="ruby-ivar">@namespace</span> = <span class="ruby-constant">Object</span>
  <span class="ruby-identifier">reset!</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                  
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-add_layout">
            
              <b>add_layout</b>(layout)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-add_layout" name="method-i-add_layout" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Add a <a href="Configuration.html#method-i-layout">#layout</a> to the
registry</p>

<p>@since 0.2.0 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-add_layout_source')" id="l_method-i-add_layout_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L395" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-add_layout_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 395</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">add_layout</span>(<span class="ruby-identifier">layout</span>)
  <span class="ruby-ivar">@layouts</span>.<span class="ruby-identifier">add</span>(<span class="ruby-identifier">layout</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-add_partial">
            
              <b>add_partial</b>(partial)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-add_partial" name="method-i-add_partial" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Add a partial to the registry</p>

<p>@since x.x.x @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-add_partial_source')" id="l_method-i-add_partial_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L452" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-add_partial_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 452</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">add_partial</span>(<span class="ruby-identifier">partial</span>)
  <span class="ruby-ivar">@partials</span>[<span class="ruby-identifier">partial</span>.<span class="ruby-identifier">key</span>][<span class="ruby-identifier">partial</span>.<span class="ruby-identifier">format</span>.<span class="ruby-identifier">to_sym</span>] = <span class="ruby-identifier">partial</span>.<span class="ruby-identifier">template</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-add_view">
            
              <b>add_view</b>(view)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-add_view" name="method-i-add_view" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Add a view to the registry</p>

<p>@since 0.2.0 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-add_view_source')" id="l_method-i-add_view_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L387" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-add_view_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 387</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">add_view</span>(<span class="ruby-identifier">view</span>)
  <span class="ruby-ivar">@views</span>.<span class="ruby-identifier">add</span>(<span class="ruby-identifier">view</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-copy-21">
            
              <b>copy!</b>(base)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-copy-21" name="method-i-copy-21" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Copy the configuration <a href="Configuration.html#method-c-for">::for</a>
the given action</p>

<p>@param base [Class] the target action</p>

<p>@return void</p>

<p>@since 0.3.0 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-copy-21_source')" id="l_method-i-copy-21_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L480" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-copy-21_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 480</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">copy!</span>(<span class="ruby-identifier">base</span>)
  <span class="ruby-identifier">modules</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">mod</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">base</span>.<span class="ruby-identifier">class_eval</span>(<span class="ruby-operator">&amp;</span><span class="ruby-identifier">mod</span>)
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-default_encoding">
            
              <b>default_encoding</b>(value = nil)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-default_encoding" name="method-i-default_encoding" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Default encoding <a href="Configuration.html#method-c-for">::for</a>
templates</p>

<p>This is part of a DSL, <a href="Configuration.html#method-c-for">::for</a>
this reason when this method is called with an argument, it will set the
corresponding instance variable. When called without, it will return the
already set value, or the default.</p>

<p>@overload default_encoding(value)</p>

<pre><code>Sets the given value
@param value [String,Encoding] a string representation of the encoding,
  or an Encoding constant

@raise [ArgumentError] if the given value isn&#39;t a supported encoding</code></pre>

<p>@overload <a
href="Configuration.html#method-i-default_encoding">#default_encoding</a></p>

<pre><code>Gets the value
@return [Encoding]
</code></pre>

<p>@since 0.5.0</p>

<p>@example Set UTF-8 As A String</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  default_encoding &#39;utf-8&#39;
end
</code></pre>

<p>@example Set UTF-8 As An Encoding Constant</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  default_encoding Encoding::UTF_8
end
</code></pre>

<p>@example Raise An <a href="Error.html">Error</a> For Unknown Encoding</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  default_encoding &#39;foo&#39;
end

  # =&gt; ArgumentError
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-default_encoding_source')" id="l_method-i-default_encoding_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L289" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-default_encoding_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 289</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">default_encoding</span>(<span class="ruby-identifier">value</span> = <span class="ruby-keyword">nil</span>)
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">value</span>.<span class="ruby-identifier">nil?</span>
    <span class="ruby-ivar">@default_encoding</span>
  <span class="ruby-keyword">else</span>
    <span class="ruby-ivar">@default_encoding</span> = <span class="ruby-constant">Encoding</span>.<span class="ruby-identifier">find</span>(<span class="ruby-identifier">value</span>)
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-duplicate">
            
              <b>duplicate</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-duplicate" name="method-i-duplicate" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Duplicate by copying the settings in a <a
href="Configuration.html#method-c-new">::new</a> instance.</p>

<p>@return [Hanami::View::Configuration] a copy of the configuration</p>

<p>@since 0.2.0 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-duplicate_source')" id="l_method-i-duplicate_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L405" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-duplicate_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 405</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">duplicate</span>
  <span class="ruby-constant">Configuration</span>.<span class="ruby-identifier">new</span>.<span class="ruby-identifier">tap</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">c</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">namespace</span>        = <span class="ruby-identifier">namespace</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">root</span>             = <span class="ruby-identifier">root</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">layout</span>           = <span class="ruby-ivar">@layout</span> <span class="ruby-comment"># lazy loading of the class</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">default_encoding</span> = <span class="ruby-identifier">default_encoding</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">load_paths</span>       = <span class="ruby-identifier">load_paths</span>.<span class="ruby-identifier">dup</span>
    <span class="ruby-identifier">c</span>.<span class="ruby-identifier">modules</span>          = <span class="ruby-identifier">modules</span>.<span class="ruby-identifier">dup</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-find_partial">
            
              <b>find_partial</b>(relative_partial_path, template_name, format)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-find_partial" name="method-i-find_partial" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Load <a href="Configuration.html#attribute-i-partials">#partials</a> <a
href="Configuration.html#method-c-for">::for</a> each partial template file
found under the given load paths</p>

<p>@since x.x.x @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-find_partial_source')" id="l_method-i-find_partial_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L443" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-find_partial_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 443</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">find_partial</span>(<span class="ruby-identifier">relative_partial_path</span>, <span class="ruby-identifier">template_name</span>, <span class="ruby-identifier">format</span>)
  <span class="ruby-identifier">partials_for_view</span> = <span class="ruby-identifier">partials</span>.<span class="ruby-identifier">has_key?</span>(<span class="ruby-identifier">relative_partial_path</span>) <span class="ruby-operator">?</span>  <span class="ruby-identifier">partials</span>[<span class="ruby-identifier">relative_partial_path</span>] <span class="ruby-operator">:</span> <span class="ruby-identifier">partials</span>[<span class="ruby-identifier">template_name</span>]
  <span class="ruby-identifier">partials_for_view</span> <span class="ruby-operator">?</span> <span class="ruby-identifier">partials_for_view</span>[<span class="ruby-identifier">format</span>.<span class="ruby-identifier">to_sym</span>] <span class="ruby-operator">:</span> <span class="ruby-keyword">nil</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-layout">
            
              <b>layout</b>(value = nil)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-layout" name="method-i-layout" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Set the global <a href="Configuration.html#method-i-layout">#layout</a></p>

<p>If not set, this value defaults to `nil`, while at the rendering time it
will use `Hanami::View::Rendering::NullLayout`.</p>

<p>This is part of a DSL, <a href="Configuration.html#method-c-for">::for</a>
this reason when this method is called with an argument, it will set the
corresponding instance variable. When called without, it will return the
already set value, or the default.</p>

<p>@overload layout(value)</p>

<pre><code>Sets the given value
@param value [Symbol] the name of the layout</code></pre>

<p>@overload <a href="Configuration.html#method-i-layout">#layout</a></p>

<pre><code>Gets the value
@return [Class]
</code></pre>

<p>@since 0.2.0</p>

<p>@see <a href="Dsl.html#method-i-layout">Hanami::View::Dsl#layout</a></p>

<p>@example Getting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configuration.layout # =&gt; nil
</code></pre>

<p>@example Setting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  layout :application
end

Hanami::View.configuration.layout # =&gt; ApplicationLayout
</code></pre>

<p>@example Setting the value in a namespaced app</p>

<pre><code>require &#39;hanami/view&#39;

module MyApp
  View = Hanami::View.duplicate(self) do
    layout :application
  end
end

MyApp::View.configuration.layout # =&gt; MyApp::ApplicationLayout
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-layout_source')" id="l_method-i-layout_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L240" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-layout_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 240</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">layout</span>(<span class="ruby-identifier">value</span> = <span class="ruby-keyword">nil</span>)
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">value</span>.<span class="ruby-identifier">nil?</span>
    <span class="ruby-constant">Rendering</span><span class="ruby-operator">::</span><span class="ruby-constant">LayoutFinder</span>.<span class="ruby-identifier">find</span>(<span class="ruby-ivar">@layout</span>, <span class="ruby-ivar">@namespace</span>)
  <span class="ruby-keyword">else</span>
    <span class="ruby-ivar">@layout</span> = <span class="ruby-identifier">value</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-load-21">
            
              <b>load!</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-load-21" name="method-i-load-21" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Load the configuration <a href="Configuration.html#method-c-for">::for</a>
the current framework</p>

<p>@since 0.2.0 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-load-21_source')" id="l_method-i-load-21_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L420" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-load-21_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 420</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">load!</span>
  <span class="ruby-identifier">views</span>.<span class="ruby-identifier">each</span>   { <span class="ruby-operator">|</span><span class="ruby-identifier">v</span><span class="ruby-operator">|</span> <span class="ruby-identifier">v</span>.<span class="ruby-identifier">__send__</span>(<span class="ruby-value">:load!</span>) }
  <span class="ruby-identifier">layouts</span>.<span class="ruby-identifier">each</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">l</span><span class="ruby-operator">|</span> <span class="ruby-identifier">l</span>.<span class="ruby-identifier">__send__</span>(<span class="ruby-value">:load!</span>) }
  <span class="ruby-identifier">load_partials!</span>
  <span class="ruby-identifier">freeze</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-load_partials-21">
            
              <b>load_partials!</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-load_partials-21" name="method-i-load_partials-21" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Load <a href="Configuration.html#attribute-i-partials">#partials</a> <a
href="Configuration.html#method-c-for">::for</a> each partial template file
found under the given load paths</p>

<p>@since x.x.x @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-load_partials-21_source')" id="l_method-i-load_partials-21_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L432" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-load_partials-21_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 432</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">load_partials!</span>
  <span class="ruby-constant">Hanami</span><span class="ruby-operator">::</span><span class="ruby-constant">View</span><span class="ruby-operator">::</span><span class="ruby-constant">Rendering</span><span class="ruby-operator">::</span><span class="ruby-constant">PartialTemplatesFinder</span>.<span class="ruby-identifier">new</span>(<span class="ruby-keyword">self</span>).<span class="ruby-identifier">find</span>.<span class="ruby-identifier">each</span> <span class="ruby-keyword">do</span> <span class="ruby-operator">|</span><span class="ruby-identifier">partial</span><span class="ruby-operator">|</span>
    <span class="ruby-identifier">add_partial</span>(<span class="ruby-identifier">partial</span>)
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-namespace">
            
              <b>namespace</b>(value = nil)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-namespace" name="method-i-namespace" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Set the Ruby <a href="Configuration.html#method-i-namespace">#namespace</a>
where to lookup <a href="Configuration.html#method-c-for">::for</a> <a
href="Configuration.html#attribute-i-views">#views</a>.</p>

<p>When multiple instances of the framework are used, we want to make sure
that if a `MyApp` wants a `Dashboard::Index` view, we are loading the right
one.</p>

<p>If not set, this value defaults to `Object`.</p>

<p>This is part of a DSL, <a href="Configuration.html#method-c-for">::for</a>
this reason when this method is called with an argument, it will set the
corresponding instance variable. When called without, it will return the
already set value, or the default.</p>

<p>@overload namespace(value)</p>

<pre><code>Sets the given value
@param value [Class, Module, String] a valid Ruby namespace identifier</code></pre>

<p>@overload <a href="Configuration.html#method-i-namespace">#namespace</a></p>

<pre><code>Gets the value
@return [Class, Module, String]
</code></pre>

<p>@since 0.2.0</p>

<p>@example Getting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configuration.namespace # =&gt; Object
</code></pre>

<p>@example Setting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  namespace &#39;MyApp::Views&#39;
end
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-namespace_source')" id="l_method-i-namespace_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L142" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-namespace_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 142</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">namespace</span>(<span class="ruby-identifier">value</span> = <span class="ruby-keyword">nil</span>)
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">value</span>
    <span class="ruby-ivar">@namespace</span> = <span class="ruby-identifier">value</span>
  <span class="ruby-keyword">else</span>
    <span class="ruby-ivar">@namespace</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-prepare">
            
              <b>prepare</b>(&amp;blk)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-prepare" name="method-i-prepare" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Prepare the <a href="Configuration.html#attribute-i-views">#views</a>.</p>

<p>The given block will be yielded when `Hanami::View` will be included by a
view.</p>

<p>This method can be called multiple times.</p>

<p>@param blk [Proc] the code block</p>

<p>@return [void]</p>

<p>@raise [ArgumentError] if called without passing a block</p>

<p>@since 0.3.0</p>

<p>@see <a href="../View.html#method-c-configure">Hanami::View.configure</a>
@see <a href="../View.html#method-c-duplicate">Hanami::View.duplicate</a></p>

<p>@example Including shared utilities</p>

<pre><code>require &#39;hanami/view&#39;

module UrlHelpers
  def comments_path
    &#39;/&#39;
  end
end

Hanami::View.configure do
  prepare do
    include UrlHelpers
  end
end

Hanami::View.load!

module Comments
  class New
    # The following include will cause UrlHelpers to be included too.
    # This makes `comments_path` available in the view context
    include Hanami::View

    def form
      %(&lt;form action=&quot;#{ comments_path }&quot; method=&quot;POST&quot;&gt;&lt;/form&gt;)
    end
  end
end
</code></pre>

<p>@example Preparing multiple times</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  prepare do
    include UrlHelpers
  end

  prepare do
    format :json
  end
end

Hanami::View.configure do
  prepare do
    include FormattingHelpers
  end
end

Hanami::View.load!

module Articles
  class Index
    # The following include will cause the inclusion of:
    #   * UrlHelpers
    #   * FormattingHelpers
    #
    # It also sets the view to render only JSON
    include Hanami::View
  end
end
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-prepare_source')" id="l_method-i-prepare_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L375" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-prepare_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 375</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">prepare</span>(<span class="ruby-operator">&amp;</span><span class="ruby-identifier">blk</span>)
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">block_given?</span>
    <span class="ruby-ivar">@modules</span>.<span class="ruby-identifier">push</span>(<span class="ruby-identifier">blk</span>)
  <span class="ruby-keyword">else</span>
    <span class="ruby-identifier">raise</span> <span class="ruby-constant">ArgumentError</span>.<span class="ruby-identifier">new</span>(<span class="ruby-string">&#39;Please provide a block&#39;</span>)
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-reset-21">
            
              <b>reset!</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-reset-21" name="method-i-reset-21" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Reset all the values to the defaults</p>

<p>@since 0.2.0 @api private</p>
            </div>
          
          
          
            <div class="aka">
              Also aliased as: <a href="Configuration.html#method-i-unload-21">unload!</a>
            </div>
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-reset-21_source')" id="l_method-i-reset-21_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L460" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-reset-21_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 460</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">reset!</span>
  <span class="ruby-identifier">root</span>             <span class="ruby-constant">DEFAULT_ROOT</span>
  <span class="ruby-identifier">default_encoding</span> <span class="ruby-constant">DEFAULT_ENCODING</span>

  <span class="ruby-ivar">@partials</span>   = <span class="ruby-constant">Hash</span>.<span class="ruby-identifier">new</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">h</span>, <span class="ruby-identifier">k</span><span class="ruby-operator">|</span> <span class="ruby-identifier">h</span>[<span class="ruby-identifier">k</span>] = <span class="ruby-constant">Hash</span>.<span class="ruby-identifier">new</span> }
  <span class="ruby-ivar">@views</span>      = <span class="ruby-constant">Set</span>.<span class="ruby-identifier">new</span>
  <span class="ruby-ivar">@layouts</span>    = <span class="ruby-constant">Set</span>.<span class="ruby-identifier">new</span>
  <span class="ruby-ivar">@load_paths</span> = <span class="ruby-constant">Utils</span><span class="ruby-operator">::</span><span class="ruby-constant">LoadPaths</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">root</span>)
  <span class="ruby-ivar">@layout</span>     = <span class="ruby-keyword">nil</span>
  <span class="ruby-ivar">@modules</span>    = []
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-root">
            
              <b>root</b>(value = nil)
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-root" name="method-i-root" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Set the <a href="Configuration.html#method-i-root">#root</a> path where to
search <a href="Configuration.html#method-c-for">::for</a> templates</p>

<p>If not set, this value defaults to the current directory.</p>

<p>This is part of a DSL, <a href="Configuration.html#method-c-for">::for</a>
this reason when this method is called with an argument, it will set the
corresponding instance variable. When called without, it will return the
already set value, or the default.</p>

<p>@overload root(value)</p>

<pre><code>Sets the given value
@param value [String,Pathname,#to_pathname] an object that can be
  coerced to Pathname
@raise [Errno::ENOENT] if the given path doesn&#39;t exist</code></pre>

<p>@overload <a href="Configuration.html#method-i-root">#root</a></p>

<pre><code>Gets the value
@return [Pathname]
</code></pre>

<p>@since 0.2.0</p>

<p>@see <a href="Dsl.html#method-i-root">Hanami::View::Dsl#root</a> @see <a
href="http://www.ruby-doc.org/stdlib-2.1.2/libdoc/pathname/rdoc/Pathname.html">www.ruby-doc.org/stdlib-2.1.2/libdoc/pathname/rdoc/Pathname.html</a>
@see <a
href="http://rdoc.info/gems/hanami-utils/Hanami/Utils/Kernel#Pathname-class_method">rdoc.info/gems/hanami-utils/Hanami/Utils/Kernel#Pathname-class_method</a></p>

<p>@example Getting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configuration.root # =&gt; #&lt;Pathname:.&gt;
</code></pre>

<p>@example Setting the value</p>

<pre><code>require &#39;hanami/view&#39;

Hanami::View.configure do
  root &#39;/path/to/templates&#39;
end

Hanami::View.configuration.root # =&gt; #&lt;Pathname:/path/to/templates&gt;
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-root_source')" id="l_method-i-root_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/configuration.rb#L187" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-root_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/configuration.rb, line 187</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">root</span>(<span class="ruby-identifier">value</span> = <span class="ruby-keyword">nil</span>)
  <span class="ruby-keyword">if</span> <span class="ruby-identifier">value</span>
    <span class="ruby-ivar">@root</span> = <span class="ruby-constant">Utils</span><span class="ruby-operator">::</span><span class="ruby-constant">Kernel</span>.<span class="ruby-constant">Pathname</span>(<span class="ruby-identifier">value</span>).<span class="ruby-identifier">realpath</span>
  <span class="ruby-keyword">else</span>
    <span class="ruby-ivar">@root</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-unload-21">
            
              <b>unload!</b>()
            
            <a href="../../../classes/Hanami/View/Configuration.html#method-i-unload-21" name="method-i-unload-21" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          

          
            <div class="aka">
              Alias for: <a href="Configuration.html#method-i-reset-21">reset!</a>
            </div>
          
          
          
          </div>
                    </div>

    </div>
  </body>
</html>    