<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Hanami::View::Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../css/github.css" type="text/css" media="screen" />
<script src="../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            <span class="type">Class</span> 
            Hanami::View::Template 
            
                <span class="parent">&lt; 
                    
                    <a href="../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/sources/view/lib/hanami/view/template_rb.html">sources/view/lib/hanami/view/template.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  
    <div class="description">
      
<p>A logic-less template.</p>

<p>@since 0.1.0</p>

    </div>
  


  


  
  


  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>F</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-format">format</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>N</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-c-new">new</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>R</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-render">render</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    


    


    <!-- Methods -->
    
      <div class="sectiontitle">Class Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-c-new">
            
              <b>new</b>(template, encoding = Encoding::UTF_8)
            
            <a href="../../../classes/Hanami/View/Template.html#method-c-new" name="method-c-new" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-c-new_source')" id="l_method-c-new_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/5ae2194c11bca2470c4a6446409b1623cad887dc/lib/hanami/view/template.rb#L9" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-c-new_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/template.rb, line 9</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">initialize</span>(<span class="ruby-identifier">template</span>, <span class="ruby-identifier">encoding</span> = <span class="ruby-constant">Encoding</span><span class="ruby-operator">::</span><span class="ruby-constant">UTF_8</span>)
  <span class="ruby-comment"># NOTE disable_escape: true is for Slim compatibility</span>
  <span class="ruby-comment"># See https://github.com/hanami/assets/issues/36</span>
  <span class="ruby-ivar">@_template</span> = <span class="ruby-constant">Tilt</span>.<span class="ruby-identifier">new</span>(<span class="ruby-identifier">template</span>, <span class="ruby-keyword">nil</span>, <span class="ruby-identifier">default_encoding</span><span class="ruby-operator">:</span> <span class="ruby-identifier">encoding</span>, <span class="ruby-identifier">disable_escape</span><span class="ruby-operator">:</span> <span class="ruby-keyword">true</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                  
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-format">
            
              <b>format</b>()
            
            <a href="../../../classes/Hanami/View/Template.html#method-i-format" name="method-i-format" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Returns the <a href="Template.html#method-i-format">#format</a> that the
template handles.</p>

<p>@return [Symbol] the <a href="Template.html#method-i-format">#format</a>
name</p>

<p>@since 0.1.0</p>

<p>@example</p>

<pre><code>require &#39;hanami/view&#39;

template = Hanami::View::Template.new(&#39;index.html.erb&#39;)
template.format # =&gt; :html
</code></pre>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-format_source')" id="l_method-i-format_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/5ae2194c11bca2470c4a6446409b1623cad887dc/lib/hanami/view/template.rb#L26" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-format_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/template.rb, line 26</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">format</span>
  <span class="ruby-ivar">@_template</span>.<span class="ruby-identifier">basename</span>.<span class="ruby-identifier">match</span>(<span class="ruby-regexp">/\.([^.]+)/</span>).<span class="ruby-identifier">captures</span>.<span class="ruby-identifier">first</span>.<span class="ruby-identifier">to_sym</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-render">
            
              <b>render</b>(scope, &amp;blk)
            
            <a href="../../../classes/Hanami/View/Template.html#method-i-render" name="method-i-render" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Render the template within the context of the given scope.</p>

<p>@param scope [Hanami::View::Scope] the rendering scope</p>

<p>@return [String] the output of the rendering process</p>

<p>@api private @since 0.1.0</p>

<p>@see Hanami::View::Scope</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-render_source')" id="l_method-i-render_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/5ae2194c11bca2470c4a6446409b1623cad887dc/lib/hanami/view/template.rb#L40" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-render_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/template.rb, line 40</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">render</span>(<span class="ruby-identifier">scope</span>, <span class="ruby-operator">&amp;</span><span class="ruby-identifier">blk</span>)
  <span class="ruby-ivar">@_template</span>.<span class="ruby-identifier">render</span>(<span class="ruby-identifier">scope</span>, {}, <span class="ruby-operator">&amp;</span><span class="ruby-identifier">blk</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                    </div>

    </div>
  </body>
</html>    