<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Hanami::View::Rendering::PartialFinder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../../../../css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../../css/main.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../../../css/github.css" type="text/css" media="screen" />
<script src="../../../../js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/jquery-effect.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/main.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../../js/highlight.pack.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>     
    <div class="banner">
        
        <h1>
            <span class="type">Class</span> 
            Hanami::View::Rendering::PartialFinder 
            
                <span class="parent">&lt; 
                    
                    TemplateFinder
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/sources/view/lib/hanami/view/rendering/partial_finder_rb.html">sources/view/lib/hanami/view/rendering/partial_finder.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  
    <div class="description">
      
<p>Find a partial for the current view context. It&#39;s used when a template
wants to render a partial.</p>

<p>@see <a href="Partial.html">Hanami::View::Rendering::Partial</a> @see <a
href="TemplateFinder.html">Hanami::View::Rendering::TemplateFinder</a></p>

<p>@api private @since 0.1.0</p>

    </div>
  


  


  
  


  


  
    <!-- Method ref -->
    <div class="sectiontitle">Methods</div>
    <dl class="methods">
      
        <dt>F</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-find">find</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>P</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-partial_name">partial_name</a>,
              </li>
            
              
              <li>
                <a href="#method-i-partial_template_under_view_path">partial_template_under_view_path</a>,
              </li>
            
              
              <li>
                <a href="#method-i-prefix">prefix</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>R</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-relative_partial_path">relative_partial_path</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>T</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-template_name">template_name</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>V</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-view_template_dir">view_template_dir</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  



  

    

    

    
      <!-- Section constants -->
      <div class="sectiontitle">Constants</div>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class="attr-name">PREFIX</td>
            <td>=</td>
            <td class="attr-value">&#39;_&#39;.freeze</td>
          </tr>
          
            <tr valign='top'>
              <td>&nbsp;</td>
              <td colspan="2" class="attr-desc"><p><a href="Template.html">Template</a> file name <a
href="PartialFinder.html#method-i-prefix">#prefix</a>. By convention a
partial file name starts with this <a
href="PartialFinder.html#method-i-prefix">#prefix</a>.</p>

<p>@api private @since 0.1.0</p>

<p>@example</p>

<pre><code>&quot;_sidebar.html.erb&quot;
</code></pre></td>
            </tr>
          
        
      </table>
    


    


    <!-- Methods -->
        
      <div class="sectiontitle">Instance Public methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-find">
            
              <b>find</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-find" name="method-i-find" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>Find a template for a partial. Initially it will look for the partial
template in the framework configuration where it may already be cached.
Failing that it will look under the directory of the parent directory view
template, if not found it will search recursively from the view root.</p>

<p>@return [Hanami::View::Template] the requested template</p>

<p>@see <a
href="TemplateFinder.html#method-i-find">Hanami::View::Rendering::TemplateFinder#find</a></p>

<p>@since 0.4.3 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-find_source')" id="l_method-i-find_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L37" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-find_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 37</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">find</span>
  <span class="ruby-constant">Hanami</span><span class="ruby-operator">::</span><span class="ruby-constant">View</span><span class="ruby-operator">::</span><span class="ruby-constant">Configuration</span>.<span class="ruby-identifier">for</span>(<span class="ruby-ivar">@view</span>).
    <span class="ruby-identifier">find_partial</span>(<span class="ruby-identifier">relative_partial_path</span>, <span class="ruby-identifier">template_name</span>, <span class="ruby-identifier">format</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
              
      <div class="sectiontitle">Instance Protected methods</div>
      
        <div class="method">
          <div class="title method-title" id="method-i-partial_name">
            
              <b>partial_name</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-partial_name" name="method-i-partial_name" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-partial_name_source')" id="l_method-i-partial_name_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L68" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-partial_name_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 68</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">partial_name</span>
  <span class="ruby-ivar">@options</span>[<span class="ruby-value">:partial</span>]
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-partial_template_under_view_path">
            
              <b>partial_template_under_view_path</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-partial_template_under_view_path" name="method-i-partial_template_under_view_path" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>@since 0.4.3 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-partial_template_under_view_path_source')" id="l_method-i-partial_template_under_view_path_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L52" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-partial_template_under_view_path_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 52</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">partial_template_under_view_path</span>
  <span class="ruby-identifier">_find</span>(<span class="ruby-identifier">view_template_dir</span>).<span class="ruby-identifier">first</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-prefix">
            
              <b>prefix</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-prefix" name="method-i-prefix" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-prefix_source')" id="l_method-i-prefix_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L72" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-prefix_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 72</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">prefix</span>
  <span class="ruby-constant">PREFIX</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-relative_partial_path">
            
              <b>relative_partial_path</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-relative_partial_path" name="method-i-relative_partial_path" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>@since x.x.x @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-relative_partial_path_source')" id="l_method-i-relative_partial_path_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L46" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-relative_partial_path_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 46</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">relative_partial_path</span>
  [<span class="ruby-identifier">view_template_dir</span>, <span class="ruby-identifier">template_name</span>].<span class="ruby-identifier">join</span>(<span class="ruby-identifier">separator</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-template_name">
            
              <b>template_name</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-template_name" name="method-i-template_name" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-template_name_source')" id="l_method-i-template_name_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L63" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-template_name_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 63</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">template_name</span>
  <span class="ruby-operator">*</span><span class="ruby-identifier">all</span>, <span class="ruby-identifier">last</span> = <span class="ruby-identifier">partial_name</span>.<span class="ruby-identifier">split</span>(<span class="ruby-identifier">separator</span>)
  <span class="ruby-identifier">all</span>.<span class="ruby-identifier">push</span>( <span class="ruby-identifier">last</span>.<span class="ruby-identifier">prepend</span>(<span class="ruby-identifier">prefix</span>) ).<span class="ruby-identifier">join</span>(<span class="ruby-identifier">separator</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <div class="title method-title" id="method-i-view_template_dir">
            
              <b>view_template_dir</b>()
            
            <a href="../../../../classes/Hanami/View/Rendering/PartialFinder.html#method-i-view_template_dir" name="method-i-view_template_dir" class="permalink">Link</a>
          </div>
          
          
            <div class="description">
              <p>@since 0.4.3 @api private</p>
            </div>
          
          
          

          
          
          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source: 
                <a href="javascript:toggleSource('method-i-view_template_dir_source')" id="l_method-i-view_template_dir_source">show</a>
                
                  | <a href="https://github.com/hanami/view/blob/0aeefb66c1e25c06eff2f0bddf916535b6a254a4/lib/hanami/view/rendering/partial_finder.rb#L58" target="_blank" class="github_url">on GitHub</a>
                
              </p>
              <div id="method-i-view_template_dir_source" class="dyn-source">
                <pre><span class="ruby-comment"># File sources/view/lib/hanami/view/rendering/partial_finder.rb, line 58</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword ruby-title">view_template_dir</span>
  <span class="ruby-operator">*</span><span class="ruby-identifier">all</span>, <span class="ruby-identifier">_</span> = <span class="ruby-ivar">@view</span>.<span class="ruby-identifier">template</span>.<span class="ruby-identifier">split</span>(<span class="ruby-identifier">separator</span>)
  <span class="ruby-identifier">all</span>.<span class="ruby-identifier">join</span>(<span class="ruby-identifier">separator</span>)
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
                    </div>

    </div>
  </body>
</html>    